## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Build output
client/dist/
server/dist/

## Env / secrets
.env
.env.local

## Logs
*.log
logs/

## OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

